<%= bootstrap_alert "<strong>Warning! Warning!</strong> It looks like it's <strong>#{current_date_and_time}</strong>!", 'warning' %>

<section class="jumbotron text-center">
  <p>You know what time that is?</p>
  <h1>It's... CAT GIF TIME!</h1>

  <figure>
    <%= image_tag @cat_image.url, 'CAT GIF!' %>
    <figcaption>Source: <a href="<%= @cat_image.source_url %>"><%= @cat_image.source_url %></a></figcaption>
  </figure>
</section>